.App {
  text-align: center;
}


body {
  background-image: url("./components/CartWidget/assets/rodneymullen.jpg");
  background-size: cover;
  background-position: center 50px;

}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: #ffffff;
  background-image: linear-gradient(to right, #00ffff, #ff00ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: linear-gradient(to right, #808080, #e6e6e6);
  animation: blink 1s linear infinite;
}


@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}