.App {
  text-align: center;
}


body {
  background-image: url("./components/CartWidget/assets/rodneymullen.jpg");
  background-size: cover;
  background-position: center 20px;

}

.title {
  font-family: 'Russo One', sans-serif;
  font-size: 3rem;
  color: #fff;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8), 0px 0px 20px rgba(255, 255, 255, 0.4), 0px 0px 30px rgba(255, 255, 255, 0.2);
}