.App {
  text-align: center;
}


body {
  background-image: url("./components/CartWidget/assets/rodneymullen.jpg");
  background-size: cover;
  background-position: center 20px;

}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: #ffffff;
  background-image: linear-gradient(to right, #00ffff, #ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
